@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
*{
  font-family: 'vt323';
}
body{
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  font-size: 1.2rem;
  background-image: url('./assets/background.png');
  background-position: bottom;
}

.App main{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 25rem;
}
.App h1{
  display: block;
  max-width: 15rem;
  text-align: center;
  margin: 1rem auto;
  padding: .5rem 2rem;
  font-size: 1.4rem;
  color: #10645d;
  background-color: rgba(255, 255, 255, 0.63);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  border: 2px solid white;
  border-radius: 1rem;
}
.App main input::placeholder{
  color: #adadad;
}

.App main ul{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.buttons button{
  margin: 0 1rem;
  padding: .5rem 1.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  border: 3px solid white;
  font-weight: 600;
  border-radius: .5rem;
  background-color: rgba(255, 255, 255, 0.377);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  transition: transform .3s;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.514);

}
.buttons button:hover{
  transform: scale(.95);
}

.buttons button:nth-of-type(1){
  color: rgb(231, 68, 68);
}

.buttons button:nth-of-type(2){
  color: rgb(41, 126, 41);
}

.buttons button:disabled{
  border: 3px solid rgb(189, 189, 189);
  color: rgb(129, 129, 129);
  font-weight: 500;
  background-color: rgba(184, 184, 184, 0.425);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  cursor: not-allowed;
  transform: scale(.9);
}
@media screen and ( min-width: 768px){
  .App{
    font-size: 1.3rem;
  }
}

@media screen and ( min-width: 1024px){
  .App{
    height: 100vh;
    font-size: 1.3rem;
  }
  .App main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 1;
    max-width: 50rem;
  }
  .App main.slideOn{
    max-width: 60rem;
    overflow-y: visible;
    height: auto;
  }
  .App main ul{
    grid-template-columns: repeat(5, 1fr);
  }
  .App main.slideOn ul {
    grid-template-columns: repeat(4, 1fr);
    max-width: 30rem;

  }
  .App main input{
    margin-bottom: 3rem;
  }
  .buttons{
    margin-top: 3rem;
  }
  .buttons button{
    font-size: 1.5rem;
  }
 }

 @media screen and ( min-width: 1290px){

  .App main{
    max-width: 70rem;
  }
}